body
{
    width: 1000px;
    background-color:#f4f5f4;
}

h1
{
    text-align: center;
}

input
{
    float:right;
    border: none;
    border-bottom: 1px solid black;
}

table
{
    width: 595px;
    border-collapse: collapse;
}

table th, table td
{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

#right_box, #left_box
{
    width: 300px;
    float: left;
    margin-right: 20px;
    padding: 5px;
    border: 1px solid black;
}
#right_box
{
    width: 600px;
    height: 500px;
    overflow-y: auto;
}

p
{
    margin: 0;
    margin-top: 10px;
}
